:root {
  --dark-black: #02000e;
  --light-black: #181d26;
  --dark-gray: #67666e;
  --medium-gray: #828282;
  --light-gray: #a3a5a8;
  --dark-white: #8c92ab;
  --rectangle-blue: #051d31;
  --white: #f7f7f8;
  --yellow: #d2c030;

  /* Brand color */
  --brand-coral: #f96d69;
  --brand-pink: #fe5493;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}
